.main {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
    background-image: url('../Images/vacunacion4.jpeg');
    position: static;
}

h1 {
    margin: 10px;
    font-size: 40px;
}

.search {
    width: 30%;
    background-color: #fff;
    padding: 1rem;
}

ul li {
    font-size: 20px;
}